<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{$CONF['shopTitle']['fieldValue']}后台管理中心</title>
      <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="__ROOT__/Apps/Admin/View/css/AdminLTE.css" rel="stylesheet" type="text/css" />
      <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5shiv.min.js"></script>
      <script src="__PUBLIC__/js/respond.min.js"></script>
      <![endif]-->
       <script src="__PUBLIC__/js/jquery.min.js"></script>
   </head>
   <script type="text/javascript">
       var WST = ThinkPHP = window.Think = {
           "ROOT"   : "__ROOT__",
           "APP"    : "__APP__",
           "PUBLIC" : "__PUBLIC__",
           "DEEP"   : "{:C('URL_PATHINFO_DEPR')}",
           "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
           "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"],
           "DOMAIN" : "{:WSTDomain()}",
           "CITY_ID" : "{$currArea['areaId']}",
           "CITY_NAME" : "{$currArea['areaName']}",
           "DEFAULT_IMG": "{:WSTDomain()}/{$CONF['goodsImg']}",
           "MALL_NAME" : "{$CONF['mallName']}",
           "SMS_VERFY"  : "{$CONF['smsVerfy']}",
           "PHONE_VERFY"  : "{$CONF['phoneVerfy']}",
           "IS_LOGIN" :"{$WST_IS_LOGIN}",
           "WST_STYLE" :"{$WST_STYLE}"
       }
   </script>
   <script src="__PUBLIC__/js/think.js"></script>
   <script>
       function editName(obj){
           Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
           $.post("{:U('Admin/Orders/editName')}",{id:$(obj).attr('dataId'),adminRemarks:obj.value},function(data,textStatus){
               var json = WST.toJson(data);
               if(json.status=='1'){
                   Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
                   }});
               }else{
                   Plugins.closeWindow();
                   Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
               }
           });
       }

       function batchPrint(status){
           var ids = WST.getChks('.chk_'+status);
           ids = ids.join(',');
           if(ids==''){
               WST.msg('请选择要打印的订单 !', {icon: 5});
               return;
           }
           console.log(Think);
           location.href = Think.U('Admin/Orders/printOrders',{"orderIds":ids});
       }

       function batchChangeStatus(v)
       {
           var ids = [];
           $('.chk_1').each(function(){
               if($(this).prop('checked'))ids.push($(this).val());
           })
           if(ids==''){
               WST.msg('请选择要操作的订单 !', {icon: 5});
               return;
           }
           Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
           $.post("{:U('Admin/orders/changeOrdersStatus')}",{id:ids.join(','),status:v},function(data,textStatus){
               var json = WST.toJson(data);
               if(json.status=='1'){
                   Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
                       location.reload();
                   }});
               }else{
                   Plugins.closeWindow();
                   Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});

               }
           });
       }

       function batchReturnFactory(v)
       {
           var ids = [];
           $('.chk_1').each(function(){
               if($(this).prop('checked'))ids.push($(this).val());
           })
           if(ids==''){
               WST.msg('请选择要操作的订单 !', {icon: 5});
               return;
           }
           Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
           $.post("{:U('Admin/orders/returnFactory')}",{id:ids.join(','),status:v},function(data,textStatus){
               var json = WST.toJson(data);
               if(json.status=='1'){
                   Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
                       location.reload();
                   }});
               }else{
                   Plugins.closeWindow();
                   Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});

               }
           });
       }

       function handle(url){
           Plugins.Modal({url:url,title:'发送快递',width:600});
       }
   </script>
   <body class='wst-page'>
      <form method="post" action='{:U("Admin/Orders/index")}'>
       <div class='wst-tbar'>
       店铺：<input type='text' name='shopName' id='shopName' value='{$shopName}'/>
       订单：<input type='text' name='orderNo' id='orderNo' value='{$orderNo}'/>
       订单状态：<select name='orderStatus' id='orderStatus'>
             <option value='-9999'>请选择</option>
             <option value='0'>下单成功</option>
             <option value='1'>上门取件</option>
             <option value='2'>维护中</option>
             <option value='3'>正在送件</option>
             <option value='4'>订单完成</option>
          </select>
       是否支付：<select name='isPay' id='isPay'>
           <option value=''>请选择</option>
           <option value='1'>已支付</option>
           <option value=''>未支付</option>
       </select>
       <button type="submit" class="btn btn-primary glyphicon glyphicon-search">查询</button> 
       </div>
       </form>
       <div class="wst-body">

           <div class='wst-tbar'>
               <php>if(in_array('splb_04',$WST_STAFF['grant']) and $goodsStatus == 0){</php>
               <switch name="orderStatus">
                   <case value="0">
                       <button type="button" class="btn btn-primary glyphicon"
                               onclick='javascript:batchChangeStatus(1)'>批量取件</button>
                   </case>
                   <case value="1">
                       <button type="button" class="btn btn-primary glyphicon"
                               onclick='javascript:batchChangeStatus(2)'>开始维护</button>

                   </case>
                   <case value="2">
                       <button type="button" class="btn btn-primary glyphicon" onclick='javascript:batchReturnFactory(1)'>批量返厂</button>
                       <button type="button" class="btn btn-primary glyphicon"
                               onclick='javascript:batchChangeStatus(3)'>批量送件</button>
                   </case>
                   <case value="3">
                       <button type="button" class="btn btn-primary glyphicon"
                               onclick='javascript:batchChangeStatus(4)'>批量完成</button>
                   </case>
               </switch>
               <php>}</php>
               <button type="button" class="btn btn-primary glyphicon" onclick='javascript:batchPrint(1)'>批量打印</button>

           </div>
        <table class="table table-hover table-striped table-bordered wst-list">
           <thead>
             <tr>
                 <th>
                 <input type='checkbox' onclick='WST.checkChks(this,".chk_1")'/>
                 </th>
                 <th>
                     序号
                 </th>
                 <th>
                     订单编号
                 </th>
                 <th>
                     客户名称
                 </th>
                 <th>
                     客户手机
                 </th>
                 <th>
                     客户地址
                 </th>
                 <th>
                     金额
                 </th>
                 <th>
                    是否支付
                 </th>
                 <th>
                     支付类型
                 </th>
                 <th>
                     下单时间
                 </th>
                 <th>
                     订单状态
                 </th>
                 <th>
                     返厂维护
                 </th>
                 <th>
                     备注
                 </th>
                 <th>
                     负责店铺
                 </th>
                 <th>
                     操作
                 </th>
             </tr>
           </thead>
           <tbody>
           <empty name="Page['root']">
               <tr>
                   <td colspan='15' align='center'>暂无数据</td>
               </tr>
           </empty>
           <volist name="Page['root']" id="vo" key='key'>
                   <tr>
               <td>
                   <input type='checkbox' class='chk_1' value='{$vo.orderId}'/>
               </td>
                 <td>
                     {$key}
                 </td>
                 <td>
                     {$vo['orderNo']}
                 </td>
                 <td><a href="{:U('Admin/WxUsers/toEdit',array('id'=>$vo['userId']))}">{$vo['userName']}</a></td>
                 <td>{$vo['userPhone']}</td>
                 <td>{$vo['userAddress']}</td>
                 <td>
                     ￥{$vo['totalMoney']}
                 </td>
               <switch name="vo['isPay']">
                   <case value="0">
                       <td width='120' style="background-color: red">
                       未支付
                       </td>
                   </case>

                   <case value="1">
                         <td width='120'>
                             已支付
                         </td>
                   </case>
                     </switch>

             <td width='120'>
                 <switch name="vo['payType']">
                     <case value="0">积分支付</case>
                     <case value="1">现价支付</case>
                 </switch>
             </td>
               <td width='150'>{$vo['createTime']}</td>
               <td width='120'>
               <if condition='$vo["orderStatus"] eq 0'>下单成功
               <elseif condition='$vo["orderStatus"] eq 1'/>上门取件
               <elseif condition='$vo["orderStatus"] eq 2'/>护理中
			   <elseif condition='$vo["orderStatus"] eq 3'/>护理完成
			   <elseif condition='$vo["orderStatus"] eq 4'/>订单完成
               <else/>
                   买家已删除
			   </if>
               </td>
               <td width='120'>
                   <if condition='$vo["isFactory"] eq 0'>无需返厂
                       <elseif condition='$vo["isFactory"] eq 1'/>发往工厂
                       <elseif condition='$vo["isFactory"] eq 2'/>接收维护
                       <elseif condition='$vo["isFactory"] eq 3'/>发回商铺
                       <elseif condition='$vo["isFactory"] eq 4'/>接受完毕
                   </if>
               </td>
                 <td><input type='text' value='{$vo['adminRemarks']}' onchange='javascript:editName(this)' dataId="{$vo.orderId}" class='form-control'/></td>
                 <td><a href="{:U('shops/toEdit',array('id'=>$vo['shopId']))}">{$vo.shopName}</td>
               <td width='160'>
               <a class="btn btn-primary glyphicon" href="{:U('Admin/Orders/toView',array('id'=>$vo['orderId']))}">查看</a>&nbsp;
               <a class="btn btn-success glyphicon" href="{:U('Admin/orders/printOrders',array('orderIds'=>$vo['orderId']))}">打印</a>&nbsp;
               <a class="btn btn-success glyphicon" onclick="handle('{:U('Admin/orders/tohandle',array('orderId'=>$vo['orderId']))}')">信息录入</a>&nbsp;
               </td>
             </tr>
             </volist>
             <tr>
                <td colspan='15' align='center'>{$Page['pager']}</td>
             </tr>
           </tbody>
        </table>
       </div>
   </body>

   <script src="__PUBLIC__/js/jquery.min.js"></script>
   <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
   <script src="__PUBLIC__/js/common.js"></script>
   <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
   <script src="__PUBLIC__/plugins/layer/layer.min.js"></script>

</html>